/*------- Bedroom-DJ CSS File --------*/

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&family=Titillium+Web:wght@300;400&display=swap');


body {
        background:none transparent;
    }



/*--- Colours ---*/





/*--- Special paddings / margins / text ---*/


.inline-block {
    display: inline-block;
}

#footer-info h5 {
    font-family: "Lato", sans-serif;
    text-transform: uppercase;
    color: #B696ED;
}

.uppercase-center {
    text-transform: uppercase;
    text-align: center;
}

h1 {
    font-family: "Lato400", sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    color: #fafafa;
}

#profile h3{
    font-family: "Titillium Web", sans-serif;
    font-size: 32px;
    text-align: center;
    vertical-align: middle;
}


#tour h3 {
    font-family: "Lato", sans-serif;
    color: #fafafa;
}

#tour h4 {
    font-family: "Titillium Web", sans-serif;
    color: #fafafa;
}

#contact h1 {
    font-family: "Lato", sans-serif;
    color: #212529;
}




/*--- navigation bar ---*/


.navbar {
    background: #F8F9FA;
}

.nav-link, .djlogo {
    color: #212529;
    cursor: pointer;
}

.nav-link {
    margin-right: 1em !important;
}

.nav-link:hover {
    color: c;
}

.navbar-collapse {
    justify-content: flex-end;
}

.fixed-top{
   position: sticky;     /*-- Added this because when the screen was collasped, the activation of the navbar burger menu icon would cause drop down menu to overlap my first section --*/ 
   }   


/*------------------------ Hero Section -----------------------*/

/*--- Hero Transition Started ---*/

.column#caption {
	position: relative;
}

.column#caption .text {
	position: absolute;		
    top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 10;
    opacity: 0;
    transition: all 1.0s ease;			
}

.column#caption .text h1 {	
    font-family: "Lato", sans-serif;	
    margin: 0;		
	color: #F8F9FA;
}

.column#caption:hover .text {
	opacity: 0.7;

}

.column#caption:hover img {
    -webkit-filter: sepia(90%);
    -moz-filter: sepia(90%);
    -o-filter: sepia(90%);   
}
/*--- Hero Transition Finished ---*/





/*--- Profile Section ---*/


#profile h1 {
    padding: 50px 50px 50px;
    color: #212529;
}
/*
#profile h3 {
    padding: 30px;
}*/


#profile .tab-pad {
  padding: 50px;
  font-size: 20px;
}

#profile table {
    width:100%;
    white-space: nowrap;
}


#profile .tab-pad tr td{
  padding: 20px;
}

#profile .name-left {
    text-align: right;
}


#profile .prof-row1 {
    background-color: aqua;
    margin-top: 80px;
    height: 150px;
}

#profile .prof-row2 {
    background-color: #B696ED;
    height: 150px;
}

#profile .prof-row3 {
    background-color: #F8F9FA;
    height: 150px;
}






/*
.icon-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.firstthree, .secondthree {
    min-width: 225px;
    box-sizing: border-box;
}*/




/*
#profile .prof-list-pad1{
    margin: auto;
    display: block;
    width: 50%;
    padding: 10px;
    text-align: center;
}

#profile .prof-list-pad2  {
    margin: auto;
    display: block;
    width: 50%;
    padding: 10px;
    text-align: center;
}*/



/*--- Backstory Section ---*/

/*
#back {
    background-image: url("https://github.com/RaVeR76/Bedroom-DJ/raw/master/assets/images/rave-caves-image2-neo.jpg");
    background-attachment: fixed;    /* Needs fixed for mobile view */ /*
    background-repeat: no-repeat;
    background-size: 100%;
    overflow: hidden;
    opacity: 1;
} */

#back {
    background-color: #EB5C68;
    opacity: .2;
}

#back h1 {
    padding: 50px 50px 50px;
}


.back-pad {
    height: 700px;
}




/*--- Top 10 Section ---*/

#top {
    background-image: url("https://github.com/RaVeR76/Bedroom-DJ/raw/master/assets/images/FB_IMG_1540053778461.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 100% 110%;
  /*background-position: center;
    width: 100%;*/
    overflow: hidden;
    padding-bottom: 80px;
}
/*

#top {
    background-color: #F8F9FA;
    color: #212529;
    padding-bottom: 80px;
}*/


#top h1 {
    padding: 50px 50px 50px;
    color: #F8F9FA;
}

#top .top-links {
    background-color: transparent;
    color: #F8F9FA;
    font-size: 20px;
    border: none;
    text-decoration: none;
}

#top .you-pad {
    padding: 20px;
}

#top div .underline a i:hover {
    color: #B696ED;
}









/*--- Tour Section ---*/


#tour h1 {
    padding: 50px 50px 50px;
}

#tour {
    background-image: url("https://github.com/RaVeR76/Bedroom-DJ/raw/master/assets/images/Neon%20Banner%202.jpg");
    background-repeat: no-repeat;
    background-size: 100% 120%;
    background-position: center;
    width: 100%;
    overflow: hidden;

} 

#tour div{
    text-align: center;
    padding: 50px 50px 100px;
} 





/*--- Contact Section ---*/

#contact h1 {
    padding: 50px 50px 50px; 
}

#contact {
    background-color: #F8F9FA;
}

#contact h3 {
    text-align: center; 
    padding: 20px;
}


#contact .contact-center  {
    margin: auto;
    display: block;
    width: 50%;
    padding: 10px;
    text-align: center;
}


#contact .con-pad {
    padding-top: 30px;
    padding-bottom: 150px;
}



#contact .pad-bot1 {
    padding-top: 30px;
    padding-bottom: 50px;
}

#contact .pad-bot2 {
    padding-top: 50px;
    padding-bottom: 50px;
}


#contact .rad-pad-left {
    padding-left: 20%;
}


#contact .col2 {
    background-color: #F8F9FA;
    text-align: center;
}

#contact .p-pad p{
    padding-top: 40px;
    padding-bottom: 20px;
}





/*--- Footer Section ---*/

footer {
    background-color: #212529;
    color: #F8F9FA;
    min-height: 100px;
    margin: 0;
}



.music-links {
    padding-top: 10px;
}

.music-links li a i {
    width: 32px;
    height: 32px;
    padding: 12px 0;
    border-radius: 50%;
    font-size: 18px;
    line-height: 7px;
    text-align: center;
    color: #F8F9FA;
    background: #212529;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.music-links li a i:hover {
    background: #B696ED;
    color: #212529;
}

.social-links {
    padding-top: 10px;
}

.social-links li a i {
    width: 32px;
    height: 32px;
    padding: 12px 0;
    border-radius: 50%;
    font-size: 18px;
    line-height: 7px;
    text-align: center;
    color: #F8F9FA;
    background: #212529;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.social-links li a:hover {
    background: #B696ED;
    color: #212529;
}


.smiley-pad {
    padding-bottom: 20px;
}







#footer-info {
    padding: 40px;
    text-align: center;
}