/*------- Bedroom-DJ CSS File --------*/

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&family=Titillium+Web:wght@300;400&display=swap');

html{
    font-size: 62.5%;
}

body, html {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden; 
    background-color: #F8F9FA;
    font-family: 'Titillium Web', sans-serif;
    scroll-behavior: smooth;
}

/*-- Special paddings / margins / text --*/

.inline-block {
    display: inline-block;
}

h1 {
	margin: 1em 0 0.5em 0;
	font-weight: 600;
    font-family: 'Lato', sans-serif; 
    text-transform: uppercase;
	font-size: 3.6rem;
	line-height: 4rem;
	padding: 1.5rem 1.5rem 1.5rem 1.5rem;
	color: #EB5C68;
	box-shadow: 
		inset 0 0 0 1px rgba(182,150,237, 0.4), 
		inset 0 0 0.5rem rgba(235, 92, 104, 0.5),
		inset 31rem 0 3.5rem #F8F9FA;
	border-radius: 0 1rem 0 1rem;
    background: #F8F9FA url("../images/rave-crowd-pic.jpg") repeat center left ;
    background-size: contain;
    opacity: 1;
}

#profile h1, #memory h1 {
    text-align: left;
}

#top h1, #tour h1 {
    background: transparent;
    text-align: left;
}

h3, h4, h5 {
    font-family: "Lato", sans-serif;
}

h3 {
    font-size: 2.6rem;
}

h4 {
    font-size: 2.3rem;
}

h5 {
    font-size: 2.1rem;
}

#top a {
    font-size: 2.5rem;
    font-weight: 300;
}

p {
    font-size: 1.7rem;
}

.head-padding {
    padding-top: 2rem;
    padding-bottom: 5rem;
}

.vinyl-size {
    height: 3.8rem;
    width: 3rem;
    padding-bottom: 0.5rem;
}

#profile h3, #contact h3{
    font-size: 3rem;
    text-align: center;
    vertical-align: middle;
    padding: 3rem;
}

#tour h3, h4 {
    color: #F8F9FA;
}

#footer-info h5 {
    text-transform: uppercase;
    color: #B696ED;
}

/*-- navigation bar --*/

.navbar {
    background: #F8F9FA;
}

.djlogo {
    font-size: 2rem;
    color: #EB5C68;
    cursor: pointer;
}

.djlogo:hover {
    color: #B696ED;
}

.nav-link {
    font-size: 1.7rem;
    margin-right: 1em !important;
    color: #B696ED;
}

.nav-link:hover {
    color: #EB5C68;
}

.custom-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(182, 150, 237, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.custom-toggler.navbar-toggler {
    border-color: rgb(182, 150, 237);
} 

.custom-toggler.navbar-toggler:hover {
    border-color: rgb(182, 150, 237);
} 

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline-color: #EB5C68;
    box-shadow: none;
}

.navbar-collapse {
    justify-content: flex-end;
}

.fixed-top{
   position: sticky;     /*-- Added this because when the screen was collasped, the activation of the navbar burger menu icon would cause drop down menu to overlap my first section --*/ 
   }   

/*-- Hero Section --*/

#hero-image {
    background-image: linear-gradient(rgba(0, 0, 0, .1), rgba(0, 0, 0, .1)), url("../images/snooze-hero-face.jpg");
    height: 90%; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

#hero-image .hero-logo {
	position: absolute;
    top: 57%;
    left: 76%;			
}

.image-size {
    height: 25rem;
    filter:invert(100%);
    opacity: 0;      
    }

#hero-image .jumbotron {
    position: absolute;
    top: 20%;
    right: 3rem;
    background: rgba(255, 255, 255, 0);
    margin-top: 1rem;
    margin-bottom: 1rem;
    color: #F8F9FA;
    width: 40%; 
    text-align: center;
}

#hero-image .jumbotron p {
    font-size: 4.8rem;
    font-weight: 700;
}

#hero-image .jumbotron span {
    font-size: 3.2rem;
    font-weight: 400;
}

#hero-image:hover {
    background-image: linear-gradient(rgba(0, 0, 0, .1), rgba(0, 0, 0, .1)), url("../images/snooze-hero-side.jpg");
    height: 100%;
    transition: all 3.0s ease;
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -o-filter: grayscale(100%);   
}

#hero-image:hover .hero-logo .image-size {
    transform: translate(-50%, -50%);
	z-index: 10;
    transition: all 2.0s ease;
    opacity: 1;	
}

#hero-image:hover .jumbotron{
    opacity: 0;
}

/*-- Profile Section --*/

.top-pad {
    padding-top: 7rem;
}

.about-me {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: transparent;
    background-clip: border-box;
    border: 0 solid rgba(0,0,0,.125);
    border-radius: .25rem;
    padding: 4.3rem 0rem;
    font-size: 2rem;
}

.about-me-body {
    flex: 1 1 auto;
    min-height: 1px;
    padding: 1.6rem;
}

.about-me-boldy {
    font-weight: 600;
}

.about-me-paddy {
    font-size: 2.2rem;
    padding: 1rem 0rem;
}

.craic-style {
    text-align: justify;
    height: auto;
    min-height: 15rem;
}

.craic-style p {
    line-height: 2.6rem;
    word-wrap: break-word;
    overflow-wrap: break-word;
    hyphens: auto;
}

/*-- Memory Section --*/

.mem-text {
    display: flex;
    margin: auto;
    justify-content: center;
    text-align: justify;
    padding: 2%;
}

.mem-text p {                      /* Same as craic-style */
    line-height: 2.6rem;
    word-wrap: break-word;
    overflow-wrap: break-word;
    hyphens: auto;
}

#memory .rave-cave-image {
    display: flex;
    margin: auto;
    justify-content: center;
}

/*-- Top 10 Section --*/

#top {
    background-image: url("../images/kellys-raver-pic.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 100% 110%;
    overflow: hidden;
    padding-bottom: 10rem;
}

#top .top-links {
    background-color: transparent;
    color: #F8F9FA;
    border: none;
    text-decoration: none;
}

#top .underline a:hover {
    color: #EB5C68;
}

#top .you-pad {
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0.7;
}

/*-- Tour Section --*/

#tour {
    background-image: url("../images/neon-banner.jpg");
    background-repeat: no-repeat;
    background-size: 100% 120%;
    background-position: center;
    width: 100%;
    overflow: hidden;

} 

#tour .tour-head-pads {
    padding: 1rem 5rem 10rem;
}

#tour .tour-pads{
    text-align: center;
    padding: 5rem 5rem 15rem;
} 

/*-- Contact Section --*/

.contact-image {
    position: relative; 
}

.contact-image::before {
    content: "";
    background-image: url("../images/kellys-portrush.jpg");
    background-size: cover;
    position: absolute;
    top: 0rem;
    right: 0rem;
    bottom: 0rem;
    left: 0rem;
    opacity: .7;
}    

.contact-padding {
    padding: 10rem 0rem;
}

.jumbotron {
    background: rgba(255, 255, 255, .8);
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.jumbo-padding {
    padding: 7rem 10rem 10rem;
}

#contact h3 {
    padding-bottom: 5rem;
}

#contact p {
    padding: 0.5rem;
    text-align: center; 
}

.form-group {
    max-width: 50rem;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 1.5rem;
}

.form-control {
    font-size: 1.6rem;
}

.form-check {
    font-size: 1.6rem;
    padding-bottom: 1rem;
}

.radio-align {
    text-align: center;
    padding-top: 1rem;
}

.checkbox-align {
  display: inline-block;
  vertical-align: top;
  padding-left: 25px;
  position: relative;
}

.checkbox-align input {
  position: absolute;
  left: 1rem;
  top: 3px;
}

.rave-padding{
    padding-top: 1.5rem;
}

.check-padding{
    padding-bottom: 3rem;
}

.btn-outline-warning.custom-btn {
    margin: 0 auto;
    display: block;
    font-size: 2rem;
	background-color: #B696ED;
    border-color: #212529;
    color: #212529;
}

.btn-outline-warning.custom-btn:hover{
    background-color: #EB5C68;
    color: #F8F9FA;
}

/*-- Footer Section --*/

footer {
    background-color: #212529;
    color: #F8F9FA;
    min-height: 10rem;
    margin: 0;
}

.foot-links {
    padding-top: 1rem;
}

.foot-links li a i {
    width: 3.2rem;
    height: 3.2rem;
    padding: 1.2rem 0rem;
    border-radius: 50%;
    font-size: 1.8rem;
    line-height: 0.7rem;
    text-align: center;
    color: #F8F9FA;
    background: #212529;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.foot-links li a i:hover {
    background: #B696ED;
    color: #212529;
}

#footer-info {
    padding: 4rem;
    text-align: center;
}

.smiley-size {
    height: 3rem;
    width: 3rem;
}

.smiley-size:hover {
    filter: grayscale(100%);
}

/* Media Queries */

/* Show in Large desktops and laptops */
@media (min-width: 1200px) {

    .bgimg {
        position: relative; 
}

    .bgimg::before {
        content: "";
        background-image: url("../images/dj-silhouette-purps.png");
        background-size: cover;
        position: absolute;
        top: -40rem;
        right: 0rem;
        bottom: 0rem;
        left: 0rem;
        opacity: 0.2;
        }    
}

/*Hide in Other Small Devices */

/* Landscape tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {

        .bgimg {
            background-image: none;
        }

        #hero-image .hero-logo {
        position: absolute;
        top: 53%;
        left: 77%;			
        }

        .image-size {
        height: 20rem;
        filter:invert(100%);
        opacity: 0;      
        }
}

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {

        .bgimg {
            background-image: none;
        }

        #hero-image .hero-logo {
        position: absolute;
        top: 53%;
        left: 77%;			
        }

        .image-size {
        height: 15rem;
        filter:invert(100%);
        opacity: 0;      
        }

        #top .you-pad {
            padding-top: 5rem;
        }
}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {

        .bgimg {
            background-image: none;
        }

        #hero-image .jumbotron {
        position: absolute;
        top: 1%;
        left: 40%;
        background: rgba(255, 255, 255, 0);
        margin-top: 1rem;
        margin-bottom: 1rem;
        color: #F8F9FA;
        width: 60%; 
        text-align: center;
        }

        #hero-image .hero-logo {
        position: absolute;
        top: 45%;
        left: 70%;			
        }

        .image-size {
        height: 11rem;
        filter:invert(100%);
        opacity: 0;      
        }

        #tour .tour-head-pads {
        padding-top: 10rem;
        }

        #top .you-pad {
            padding-top: 5rem;
        } 

        .jumbo-padding {
            padding: 5rem 5rem 5rem;
        }
        
        .smiley-pad {
            padding-bottom: 2rem;
        }
}

/* Portrait phones and smaller */
@media (max-width: 480px) {

        .bgimg {
            background-image: none;
        }

        .image-size {
        height: 10rem;
        filter:invert(100%);
        opacity: 0;      
        }

        #tour .tour-head-pads {
        padding: 13rem 2rem 5rem;
        }
    
        #top .you-pad {
            padding-top: 5rem;
        }  
        
        .smiley-pad {
            padding-bottom: 2rem;
        }      
}