/*------- Bedroom-DJ CSS File --------*/

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&family=Titillium+Web:wght@300;400&display=swap');


body, html {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden; 
    background-color: transparent;
}

html{
    scroll-behavior: smooth;
}


/*--- Colours ---*/

#profile {
    background-color: #F8F9FA;
}


/*--- Special paddings / margins / text ---*/

.inline-block {
    display: inline-block;
}


.head-padding {
    padding-top: 20px;
    padding-bottom: 50px;
}


.vinyl-size {
    height: 38px;
    width: 30px;
    padding-bottom:5px;
}

.smiley-size {
    height: 30px;
    width: 30px;
}


#footer-info h5 {
    font-family: "Lato", sans-serif;
    text-transform: uppercase;
    color: #B696ED;
}

.uppercase-center {
    text-transform: uppercase;
    text-align: center;
}

h1 {
    font-family: "Lato400", sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    color: #F8F9FA;
}

#profile h3{
    font-family: "Titillium Web", sans-serif;
    font-size: 32px;
    text-align: center;
    vertical-align: middle;
}


#tour h3 {
    font-family: "Lato", sans-serif;
    color: #F8F9FA;
}

#tour h4 {
    font-family: "Titillium Web", sans-serif;
    color: #F8F9FA;
}

#contact h1 {
    font-family: "Lato", sans-serif;
    color: #212529;
}






/*--- navigation bar ---*/


.navbar {
    background: #F8F9FA;
}

.djlogo {
    color: #B696ED;
    cursor: pointer;
}

.djlogo:hover {
    color: #EB5C68;
}

.nav-link {
    margin-right: 1em !important;
    color: #B696ED;
}


.nav-link:hover {
    color: #EB5C68;
}

.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(182, 150, 237, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.custom-toggler.navbar-toggler {
  border-color: rgb(182, 150, 237);
} 

.custom-toggler.navbar-toggler:hover {
  border-color: rgb(182, 150, 237);
} 

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline-color: #EB5C68;
    box-shadow: none;
}

.navbar-collapse {
    justify-content: flex-end;
}

.fixed-top{
   position: sticky;     /*-- Added this because when the screen was collasped, the activation of the navbar burger menu icon would cause drop down menu to overlap my first section --*/ 
   }   


/*------------------------ Hero Section -----------------------*/



#hero-image {
    background-image: linear-gradient(rgba(0, 0, 0, .1), rgba(0, 0, 0, .1)), url("../images/snooze-hero-face.jpg");
    height: 90%; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}


#hero-image .hero-logo {
	position: absolute;
    top: 55%;
    left: 75%;			
}


#hero-image:hover {
    background-image: linear-gradient(rgba(0, 0, 0, .1), rgba(0, 0, 0, .1)), url("../images/snooze-hero-side.jpg");
    height: 90%;
    transition: all 3.0s ease;
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -o-filter: grayscale(100%);   
}

#hero-image:hover .hero-logo .image-size {
    transform: translate(-50%, -50%);
	z-index: 10;
    transition: all 2.0s ease;
    opacity: 1;	

}

#hero-image:hover .hero-comment{
    opacity: 0;
}



.hero-comment {
        position: absolute;
        top: 30%;
        right: 5%; 
        background: rgb(0, 0, 0); /* Fallback color */
        background: rgba(0, 0, 0, 0.2); 
        color: #F8F9FA;
        width: 40%; 
        text-align: center;
}



/*--- Hero Transition Started ---*/
/*
.column#caption {
	position: relative;
}

.column#caption .text {
    filter:invert(100%);
	position: absolute;
    top: 40%;
    left: 24%;
	transform: translate(-50%, -50%);
	z-index: 10;
    opacity: 0;
    transition: all 2.0s ease;			
}


.column#caption:hover .text {
    opacity: .8;

}

.column#caption:hover img {
    transition: all 3.0s ease;
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -o-filter: grayscale(100%);   
}*/
/*--- Hero Transition Finished ---*/





/*--- Profile Section ---*/




#profile h1 {
	margin: 1em 0 0.5em 0;
	font-weight: 600;
	font-family: 'Lato', sans-serif;
	text-align: left;  
	font-size: 36px;
	line-height: 40px;
	padding: 15px 15px 15px 15px;
	color: #EB5C68;
	box-shadow: 
		inset 0 0 0 1px rgba(182,150,237, 0.4), 
		inset 0 0 5px rgba(235, 92, 104, 0.5),
		inset 220px 0 35px #F8F9FA;
	border-radius: 0 10px 0 10px;
    background: #F8F9FA url("../images/rave-crowd-pic.jpg") repeat center left ;
    background-size: contain;
    opacity: 1;
}




#profile h3 {
    padding: 30px;
}

.top-pad {
    padding-top: 70px;
}

.about-me {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: transparent;
    background-clip: border-box;
    border: 0 solid rgba(0,0,0,.125);
    border-radius: .25rem;
    padding: 50px 0px;
    font-size: 20px;
}

.about-me-body {
    flex: 1 1 auto;
    min-height: 1px;
    padding: 1rem;
}

#profile .craic-style {
    text-align: justify;
    height: auto;
    min-height: 150px;
}



#profile .craic-style p {
    opacity: 1;
    font-size: 16px;
    line-height: 26px;
    word-wrap: break-word;
    overflow-wrap: break-word;
    hyphens: auto;
}



/*--- Memory Section ---*/

#memory h1 {
	margin: 1em 0 0.5em 0;
	font-weight: 600;
	font-family: 'Lato', sans-serif;
	text-align: left;  
	font-size: 36px;
	line-height: 40px;
	padding: 15px 15px 15px 15px;
	color: #EB5C68;
	box-shadow: 
		inset 0 0 0 1px rgba(182,150,237, 0.4), 
		inset 0 0 5px rgba(235, 92, 104, 0.5),
		inset 310px 0 35px #F8F9FA;
	border-radius: 0 10px 0 10px;
    background: #F8F9FA url("../images/rave-crowd-pic.jpg") repeat center left ;
    background-size: contain;
    opacity: 1;
}

#memory {
    background-color: #F8F9FA;
    opacity: 1;
}

#memory .mem-text {
    display: flex;
    margin: auto;
    justify-content: center;
    text-align: justify;
    padding: 2%;
}


#memory .mem-text p {
    font-size: 16px;
    line-height: 26px;
    word-wrap: break-word;
    overflow-wrap: break-word;
    hyphens: auto;
}


/*--- Top 10 Section ---*/

#top {
    background-image: url("../images/kellys-raver-pic.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 100% 110%;
  /*background-position: center;
    width: 100%;*/
    overflow: hidden;
    padding-bottom: 80px;
}

 #top h1 {
	margin: 1em 0 0.5em 0;
	font-weight: 600;
	font-family: 'Lato', sans-serif;
	text-align: left;  
	font-size: 36px;
	line-height: 40px;
	padding: 15px 15px 15px 15px;
	color: #EB5C68;
	box-shadow: 
		inset 0 0 0 1px rgba(182,150,237, 0.4), 
		inset 0 0 5px rgba(235, 92, 104, 0.5),
		inset 200px 0 35px #F8F9FA;
	border-radius: 0 10px 0 10px;
    background: transparent;
    background-size: contain;
    opacity: 1;
}


#top .top-links {
    background-color: transparent;
    color: #F8F9FA;
    font-size: 20px;
    border: none;
    border: none;
    text-decoration: none;
}

#top .underline a:hover {
    color: #EB5C68;
}

#top .you-pad {
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0.7;
}






/*--- Tour Section ---*/


#tour {
    background-image: url("../images/neon-banner.jpg");
    background-repeat: no-repeat;
    background-size: 100% 120%;
    background-position: center;
    width: 100%;
    overflow: hidden;

} 

#tour h1 {
	margin: 1em 0 0.5em 0;
	font-weight: 600;
	font-family: 'Lato', sans-serif;
	text-align: left;  
	font-size: 36px;
	line-height: 40px;
	padding: 15px 15px 15px 15px;
	color: #EB5C68;
	box-shadow: 
		inset 0 0 0 1px rgba(182,150,237, 0.4), 
		inset 0 0 5px rgba(235, 92, 104, 0.5),
		inset 285px 0 35px #F8F9FA;
	border-radius: 0 10px 0 10px;
    background: transparent;
    background-size: contain;
    opacity: 1;
}

#tour .tour-head-pads {
    padding: 10px 50px 100px;
}

#tour .tour-pads{
    text-align: center;
    padding: 50px 50px 100px;
} 





/*--- Contact Section ---*/

#contact {
    background-image: url("../images/kellys-portrush.jpg");
    background-attachment: scroll;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}


/*
#contact {
    background-color: #F8F9FA;
}*/

#contact h1 {
	margin: 1em 0 0.5em 0;
	font-weight: 600;
	font-family: 'Lato', sans-serif;
	text-align: left;  
	font-size: 36px;
	line-height: 40px;
	padding: 15px 15px 15px 15px;
	color: #EB5C68;
	box-shadow: 
		inset 0 0 0 1px rgba(182,150,237, 0.4), 
		inset 0 0 5px rgba(235, 92, 104, 0.5),
		inset 550px 0 35px #F8F9FA;
	border-radius: 0 10px 0 10px;
    background: transparent;
    background-size: contain;
    opacity: 1;
}


.form-group {
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
}


.jumbotron {
    background: rgba(255, 255, 255, .9);
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding: 50px;
}

#contact p {
    padding: 0.5rem;
    text-align: center; 
}

.radio-align {
    text-align: center;
    padding: 1em;

}

.submit-style {
    margin: 0 auto;
    display: block;
}



/*--- Footer Section ---*/

footer {
    background-color: #212529;
    color: #F8F9FA;
    min-height: 100px;
    margin: 0;
}



.foot-links {
    padding-top: 10px;
}

.foot-links li a i {
    width: 32px;
    height: 32px;
    padding: 12px 0;
    border-radius: 50%;
    font-size: 18px;
    line-height: 7px;
    text-align: center;
    color: #F8F9FA;
    background: #212529;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.foot-links li a i:hover {
    background: #B696ED;
    color: #212529;
}


.smiley-pad {
    padding-bottom: 20px;
}


#footer-info {
    padding: 40px;
    text-align: center;
}



/* Media Queries */


/* Show in Large desktops and laptops */


@media (min-width: 1200px) {

    .bgimg {
        position: relative; 
}

    .bgimg::before {
        content: "";
        background-image: url("../images/dj-silhouette-purps.png");
        background-size: cover;
        position: absolute;
        top: -400px;
        right: 0px;
        bottom: 0px;
        left: 0px;
        opacity: 0.2;
        }    

        .image-size {
        height: 250px;
        filter:invert(100%);
        opacity: 0;      
        }



}

/*Hide in Other Small Devices */


/* Landscape tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {

        .bgimg {
            background-image: none;
        }

        .image-size {
        height: 200px;
        filter:invert(100%);
        opacity: 0;      
        }
    

}

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {

        .bgimg {
            background-image: none;
        }


        .hero-comment {
            position: absolute; /* Position the background text */
            bottom: 0; /* At the bottom. Use top:0 to append it to the top */
            background: rgb(0, 0, 0); /* Fallback color */
            background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
            color: #F8F9FA; /* Grey text */
            width: 100%; /* Full width */
        }

        .image-size {
        height: 150px;
        filter:invert(100%);
        opacity: 0;      
        }

        #top .you-pad {
            padding-top: 50px;
        }

}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {

        .bgimg {
            background-image: none;
        }

        .image-size {
        height: 100px;
        filter:invert(100%);
        opacity: 0;      
        }


        #top .you-pad {
            padding-top: 50px;
        }       

}

/* Portrait phones and smaller */
@media (max-width: 480px) {

        .bgimg {
            background-image: none;
        }

        .image-size {
        height: 50px;
        filter:invert(100%);
        opacity: 0;      
        }

        
        #top .you-pad {
            padding-top: 50px;
        }   
         

}